input{
    width: 250px;
    margin-bottom: 4px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}

.InputField{
    position: relative;
}

.Trial{
    border: none;
    border-radius: 3px;
    padding: 4px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    width: 262px;
    font-family: 'Poppins', sans-serif;
}

.InvalidImage{
    position:absolute;
    top: 4px;
    right: 5px;
}

.Invalid {
    color: red;
    margin: 0px;
    font-size: 10px;
    text-align: end;
  }